body {
/*  font-size: 10px;
  font-family: "Roboto",  sans-serif;
  background-color: #ccc;*/
}

/* svg */
#viz-container svg {
	display: block;
	margin: auto;
	font-size: 0.8em;
}

/* Timerange slider */
#slider {
	width: 500px;
	margin: 50px auto 20px;
}
#timerange-label ul{
	text-align: center;
	margin: auto;
	padding-left: 100px;
}
#timerange-label ul li{
	padding-right: 110px;
	display: inline;
}

/* Tooltip */
.tooltip {	
    position: absolute;			
    text-align: center;		
    width: 150px;								
    padding: 5px 0;				
    font: 12px sans-serif;		
    background: #eee;	
    border: 0px;		
    border-radius: 5px;			
    pointer-events: none;			
}

/* Loading indicator */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../image/indicator.gif') 
                50% 50% 
                no-repeat;
}
.modal .modal-text {
	position: absolute;
	top: 40%;
	left: 43.5%;
}

body.loading {
    overflow: hidden;   
}

body.loading .modal {
    display: block;
}